<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Game of Pikachu</title>
        <link rel="stylesheet" href="/styles/style.css" />
    </head>
    <body id="cover">
        <h1 id="name">Pikachu ⚡</h1>
        <img src="/images/cover.jpg" />
    </body>
    <div>
        <a id="about" href="/about">About Page ⚡</a>
        <a id="works" href="/works">Work Page ⚡</a>
    </div>
</html>