<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Work</title>
        <link rel="stylesheet" href="/styles/style.css" />
    </head>
    <body id="body-work">
        <h1 id="title-work">Work Page ⚡</h1>
        <img id="pika-2" src="/images/pika2.jpg" />
        <p id="pika-text-2">Pikachu aparece quase em toda a série de jogos eletrônicos de Pokémon, aparecendo pela primeira vez em 1996 nos jogos japoneses Pokémon Red e Pokémon Blue, no Ocidente, foi lançado sob o título Pokémon Red e Blue. Desde a primeira edição destes jogos, Pikachu sempre aparece de nível baixo e que pode ser capturado e nunca comercializado, exceto nas versões Black e White e Black 2 e White 2 no qual ele não aparece. O Pikachu de nível 88 utilizado pelo treinador Red que aparece no final de Pokémon HeartGold e SoulSilver é dito como o único Pokémon não jogável que apareceu em um jogo de Pokémon.</p>
        <p id="pika-text-3">Série de televisão e filmes
        Da esquerda para a direita: cosplayers de Pikachu, Ash e Misty.
        A série de anime e filmes retrata as aventuras de Ash Ketchum e seu Pikachu, em suas viagens por diversas regiões do universo Pokémon.
        No primeiro episódio, Ash recebe seu Pikachu do Professor Carvalho como Pokémon inicial. Primeiramente, Pikachu ignora os pedidos de Ash, atacando-o frequentemente e se recusando a ser armazenado na forma convencional de transporte Pokémon, a Pokébola. 
        Porém, Ash se arrisca para salvá-lo de um ataque de Spearow selvagens e o leva para um Centro Pokémon para curá-lo. Depois do fato, Pikachu começa a se aproximar de Ash e os dois se tornam amigos, mas ele continua a recusar a Pokébola. 
        Pouco depois, Pikachu demonstra um grande potencial que o diferencia de outros Pikachu, levando a Equipe Rocket a tentar capturá-lo diversas vezes.
        Outros Pikachu selvagens e treinados aparecem na série, frequentemente interagindo com Ash e seu Pikachu. O mais notável é o Pikachu de Richie, Sparky. Como a maioria dos Pokémon existentes, Pikachu se comunica apenas através de sílabas de seu nome.</p>

        <a id="go-pika-2" href="/home">Go to Pikachu ⚡</a>
    </body>
</html>